# =============== #
# Unity generated #
# =============== #
happyyea/Temp/
happyyea/Obj/
happyyea/UnityGenerated/
happyyea/Library/
happyyea/Assets/AssetStoreTools*
happyyea/reference/
happyyea/sound_collection/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db